### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.box
out
gen
After
Vagrantfile
packer_cache
.vagrant
amazon_ebs.json
playbook.yml
# Created by .ignore support plugin (hsz.mobi)
